/* GLOBAL STYLES */
body {
  background-image: url("../img/background.jpg");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-weight: 600;
  margin: auto;
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0px;
}

a {
  text-decoration: none;
  color: #F9DC5C;
}

a:hover, a:focus {
  text-decoration: none;
  color: #FFF;
}

/* TITLE CONTAINER */
.title-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  font-size: 3.75rem;
  font-weight: 600;
  margin-top: 3.25rem;
  padding: 8px 0px 0px 0px;
}

.subtitle {
  margin-bottom: 3rem;
  padding: 0px 0px 8px 0px;
}

/* RESTAURANT CONTAINER */
.restaurant-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 10rem;
  padding: 10px 50px;
}

.button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button:hover {
  background-color: #53F4FF;
  color: #011936;
}

.google-maps-option {
  text-align: center;
  font-size: 1rem;
}

.restaurant-result {
  border: 0.3rem solid #FFF;
  padding: 0.25rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  color: #53F4FF;
}

.restaurant-link {
  margin-top: 0.5rem;  
  padding: 0.25rem;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: #53F4FF;
}

/* ABOUT CONTAINER*/
.about-container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 25%;  
  bottom: 0;
  width: 50%;
  padding: 8px 0px;  
}

.my-info {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* MOBILE DEVICE STYLES */

/* SMALL PHONES */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .restaurant-container {
    margin-top: 5rem;
    padding: 10px 20px;
  }
  
  .button {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .google-maps-option {
    font-size: 0.8rem;
  }

  .restaurant-result {
    margin-top: 1rem;
    padding: 0.25rem;
    font-size: 1.75rem;
  }
  
  .restaurant-link {
    margin-top: 0.25rem;  
    padding: 0.25rem;
    font-size: 1.5rem;
  }

  .about-container {
    left: 0;  
    bottom: 0;
    width: 100%;
    padding: 2px 10px;
  }
}

/* TABLETS */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .restaurant-container {
    margin-top: 6rem;
    padding: 10px 20px;
  }
  
  .button {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .restaurant-result {
    margin-top: 1rem;
    padding: 0.25rem;
    font-size: 2rem;
  }
  
  .restaurant-link {
    margin-top: 0.25rem;  
    padding: 0.25rem;
    font-size: 1.75rem;
  }

  .about-container {
    left: 0;  
    bottom: 0;
    width: 100%;
    padding: 2px 10px;
  }
}

/* LAPTOPS */
@media only screen and (min-width: 1024px) {
  .title {
    font-size: 2.75rem;
    margin-top: 1rem;
  }
  
  .subtitle {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

}