/* GLOBAL STYLES */
body {
  background-image: url("../images/may_background.jpg");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.restaurant-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
}

.btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #ffd60a;
}

.btn:hover {
  border: none;
  background-color: #ffc300;
}

.restaurant-result {
  border: 0.3rem solid #FFF;
  border-radius: 0.5rem;
  color: #ffd60a;
}

a {
  text-decoration: none;
  color: #64d2ff;
}

a:hover {
  text-decoration: none;
  color: #ffd60a;
}

.contact-info-col {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 0.25rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
}

/* MOBILE DEVICE STYLES */

/* SMALL PHONES */
/* GLOBAL STYLES */
@media screen and (min-width: 320px) and (max-width: 424px) {
  .title {
    font-size: 1.25rem !important;
  }

  .subtitle {
    font-size: 0.8rem !important;
  }

  .restaurant-container {
    margin-top: 2.5rem !important;
  }

  .btn {
    font-size: 0.7rem !important;
  }

  .google-maps-option {
    margin-bottom: 0.5rem !important;
    font-size: 0.5rem !important;
  }

  .restaurant-result {
    margin-top: 1.5rem !important;
    padding: 0.4rem !important;
    font-size: 1rem !important;
  }

  .restaurant-link {
    margin-top: 0.25rem !important;
    padding: 0.25rem !important;
    font-size: 1rem !important;
  }

  .contact-info-col {
    font-size: 0.75rem !important;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .title {
    font-size: 1.25rem !important;
  }

  .subtitle {
    font-size: 0.9rem !important;
  }

  .restaurant-container {
    margin-top: 3rem !important;
  }

  .btn {
    font-size: 0.75rem !important;
  }

  .google-maps-option {
    font-size: 0.6rem !important;
  }

  .restaurant-result {
    padding: 0.25rem !important;
    font-size: 1.2rem !important;
  }

  .restaurant-link {
    margin-top: 0.25rem !important;
    padding: 0.25rem !important;
    font-size: 1.2rem !important;
  }

  .contact-info-col {
    font-size: 0.75rem !important;
  }
}

/* SMALL PHONES */
/* LANDSCAPE ORIENTATION */
@media screen and (min-height: 320px) and (max-height: 424px) and (orientation: landscape) {
  body {
    background-position: 50% 70%;
  }

  .title {
    font-size: 1.5rem !important;
  }

  .subtitle {
    font-size: 0.9rem !important;
  }

  .restaurant-container {
    margin-top: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }

  .btn {
    font-size: 0.75rem !important;
  }

  .google-maps-option {
    font-size: 0.8rem !important;
  }

  .restaurant-result {
    padding: 0.25rem !important;
    font-size: 1.25rem !important;
  }

  .restaurant-link {
    margin-top: 0 !important;
    padding: 0 !important;
    font-size: 1.25rem !important;
  }

  .contact-info-col {
    display: none;
  }
}

@media screen and (min-height: 425px) and (max-height: 767px) and (orientation: landscape) {
  body {
    background-position: 50% 65%;
  }

  .title {
    font-size: 1.75rem !important;
  }

  .subtitle {
    font-size: 1rem !important;
  }

  .restaurant-container {
    margin-top: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }

  .btn {
    font-size: 0.75rem !important;
  }

  .google-maps-option {
    font-size: 0.8rem !important;
  }

  .restaurant-result {
    margin-top: 1rem !important;
    padding: 0.25rem !important;
    font-size: 1.25rem !important;
  }

  .restaurant-link {
    margin-top: 0 !important;
    padding: 0rem !important;
    font-size: 1.25rem !important;
  }

  .contact-info-col {
    display: none;
  }
}

/* TABLETS */
/* GLOBAL STYLES */
@media screen and (min-width: 768px) and (max-width: 825px),
screen and (min-height: 768px) and (max-height: 825px) and (orientation: landscape) {
  .title {
    font-size: 2rem !important;
  }

  .subtitle {
    font-size: 1rem !important;
  }

  .restaurant-container {
    margin-top: 5rem !important;
  }

  .google-maps-option {
    font-size: 0.9rem !important;
  }
}

/* SMALL LAPTOPS */
/* GLOBAL STYLES */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .restaurant-container {
    margin-top: 3rem;
  }
}

/* LARGE LAPTOPS */
/* GLOBAL STYLES */
@media screen and (max-width: 1440px) {
  .restaurant-container {
    margin-top: 4rem;
  }
}