<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="description"
          content="Hungry? Don't know where to go to eat? This website tells you at the click of a button.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Where Should I Go Eat?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KMPSYC7DRY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KMPSYC7DRY');
    </script>
</head>

<body>
<div class="container title-container">
    <h1 class="title">Where Should I Go Eat</h1>
    <h2 class="subtitle">Undecided where you should go eat? Press a
        button to find out!</h2>
</div>
<div class="container restaurant-container">
    <div class="row">
        <div class="col">
            <form action="/" method="POST">
                <button class="button" name="restaurant" type="submit" onclick="{{ restaurant }}">Chain
                    Restaurant
                </button>
            </form>
        </div>
        <div class="col">
            <button class="button" name="google maps" type="submit"
                    onclick=window.open("https://www.google.com/maps/search/?api=1&query=restaurants");>Local
                Restaurant
            </button>
            <p class="google-maps-option">Choose from a list on Google Maps</p>
        </div>
        <div class="col">
            <button class="button" name="start-over" type="submit" onclick="location.href=location.href">Reset</button>
        </div>
        <p class="restaurant-result">You Should
            Go Eat At {{ restaurant }}</p>
        <p class="restaurant-link">Order Online At {{ restaurant }} <a href="{{ restaurant_link }}"
                                                                       target="_blank">here</a></p>
    </div>
</div>
<div class="col about-container">
    <p class="my-info">Created by <a href="https://brittbot.com" title="My Website" target="_blank">Brittany Gates</a> |
        <a href="https://github.com/brittbot-bgates" title="My Github Profile" target="_blank"><i
                class="bi bi-github"></i></a> | <a href="https://www.linkedin.com/in/brittanycgates/"
                                                   title="My LinkedIn Profile" target="_blank"><i
                class="bi bi-linkedin"></i></a> | <a href="https://x.com/brittany__gates"
                                                     title="My Twitter Profile"
                                                     target="_blank"><i class="bi bi-twitter"></i> | <a
                href="https://www.youtube.com/c/BrittanyGates"
                title="My YouTube Channel" target="_blank"><i
                class="bi bi-youtube"></i></a>
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>