{% extends "base.html" %}

{% block content %}
<div class="container text-center title-container">
    <h1 class="mt-3 pt-2 fs-1 fw-medium title">Where Should I Go Eat</h1>
    <h2 class="mb-3 pb-2 fs-4 fw-light subtitle">Undecided where you should go eat? Press a
        button to find out!</h2>
</div>
<div class="container p-4 restaurant-container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form action="/" method="POST">
                <button id="chainRestaurantButton" class="btn btn-light fw-semibold" name="restaurant"
                    type="submit">Chain
                    Restaurant
                </button>
            </form>
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <button id="localRestaurantButton" class="m-auto btn btn-light fw-semibold" name="google maps"
                type="submit">Local
                Restaurant
            </button>
            <p class="m-auto pt-1 google-maps-option text-center">Choose from Google Maps</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-self-start">
            <button id="resetButton" class="m-auto btn btn-light fw-semibold" name="start-over"
                type="submit">Reset</button>
        </div>
        <p class="mt-3 py-3 fs-3 fw-medium text-center restaurant-result">{% if restaurant %}You Should
            Go Eat At {{ restaurant }}{% endif %}</p>

        <p class="mt-1 p-1 fs-3 fw-medium text-center restaurant-link">{% if restaurant %}Order Online At {{ restaurant
            }} <a href="{{ restaurant_link }}" target="_blank">here{% endif %}</a></p>

    </div>
</div>
{% endblock %}